ul {
  margin-left: 100px
}

li {
  line-height: 32px;
  margin-left: 250px;
  list-style-type: none;
}

.changes-graph__item{}
.changes-graph__tag{
  border-radius: 25px;
  padding: 4px;
  margin-left: 20px;
  border: 2px solid green;
}
