
.app {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  background: #fafafa;
  padding: 12px;
  height: calc(100vh - 24px);
}

.graph {
  flex-grow: 2;
}

.controls-section--border-top {
  padding-top: 12px;
  border-top: 1px solid black;
}

.controls-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.full-width {
  width: 100%;
}
