<mat-card class="main">

  <ul id="changes-graph">
    <li *ngFor="let item of this.commits">{{item.text}}</li>

  </ul>
  <div class="comments"></div>

</mat-card>
<mat-card class="btns">

  <button mat-button (click)="add()">Add commit</button>

  <mat-form-field appearance="fill">
    <mat-label>text commit</mat-label>
    <input matInput [(ngModel)]="newCommit.text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose parent</mat-label>
    <mat-select [(ngModel)]="newCommit.parent">
      <mat-option *ngFor="let parent of allId"  [value]="parent">  {{parent}}
      </mat-option>

    </mat-select>
  </mat-form-field>


  <input type="text" [(ngModel)]="newCommit.parent" placeholder="parent">
  <input type="text" [(ngModel)]="newCommit.parent2" placeholder="parent">

</mat-card>

